node_modules
.next
out
.env
.env.local
*.log
.DS_Store
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/dev*
public/uploads

.vercel

# TypeScript incremental build info — 컴파일 캐시
*.tsbuildinfo
tsconfig.tsbuildinfo
